body {
    margin:0;
    padding:0;
}

div#Container {
    width: 1000px;
    margin: 0px auto;
    text-align: center;
    border-left: 1px solid;
    border-right: 1px solid;
    height: 100%;
}

nav {
    height:50px;
    display:inline-block;
    margin:0px auto;
    margin-bottom:30px;
}

nav ul {
    list-style:none;
}

nav ul li {
    float:left;
    margin:0;
    padding:0px 20px;
    height:50px;
    line-height:50px;
    border:1px dotted;
}


[id^=tab] {
    display:none;
    text-align: start;
}

#tabsubscribers ul {
    list-style:none;
}

#selecteduserdetails {
    margin-top:20px;
    margin-left:20px;
}