<html>
    <head>
        <title>pub-sub</title>
        <script src="{{ url_for('static', filename='js/jquery-1.11.2.js') }}"></script>
        <script src="{{ url_for('static', filename='js/app.js') }}"></script>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"></script>
    </head>
    <body>
        <div id="Container">
            <header>
                <nav>
                    <ul>
                        <li id="mnusubscribers">Select / Add Subscribers</li>
                        <li id="mnuproducttype">Add ProductType</li>
                        <li id="mnuproduct">Add Product</li>
                        <li id="mnusubscribe">Subscribe</li>
                    </ul>
                </nav>
            </header>
            <section>
                <div id="tabsubscribers">
                </div>
                <div id="tabproducttype">producttype</div>
                <div id="tabproduct">product</div>
                <div id="tabsubscribe">subscribe</div>
            </section>
        </div>
    </body>
</html>